/* Navigation Bar Styles */

    /* Link Styles */
    a {
      font-size: large;
      font-family: Arial, sans-serif;
      text-decoration: none; /* Remove underlines */
      cursor: pointer;
      color: #fff; /* Text color for links */
      transition: color 0.3s; /* Smooth color transition on hover */
      
    }
    
    
   
    
    /* Navigation Links Styles */
    .nav-link {
      margin-right: 30px;
    }
    
    /* Login Button Styles */
    #login {
      margin-left: 20px; /* Reduced margin for better alignment */
      padding: 8px 16px; /* Add padding for larger clickable area */
      background-color: #010509; /* Button background color */
      color: #fff; /* Button text color */
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s; /* Smooth background color transition on hover */
    }
    
 
    
    /* Admin Button Styles */
    #adminbtn {
      margin-left: 20px; /* Adjusted margin for spacing */
      padding: 8px 16px; /* Add padding for larger clickable area */
      background-color: #011316; /* Button background color */
      color: #fff; /* Button text color */
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s; /* Smooth background color transition on hover */
    }
    
    #adminbtn:hover {
      background-color:darkgrey;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
      #nav {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: flex-start; /* Align items to the left */
      }
    
      .nav-link,
      #login,
      #adminbtn {
        margin: 10px 0; /* Adjusted margins for better spacing */
      }
    }
#loginbtn{
  background-color: #010509;
  color: aliceblue;
  border: none;
}
#loginbtn:hover{
  background-color:darkgray;
}