<footer class="footer bg-dark text-white py-4" >
  <div class="container" id="footer">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Information</h5>
        <p><i class="fas fa-map-marker-alt"></i> 123 Main Street, City, India</p>
        <p><i class="fas fa-phone"></i> (123) 456-7890</p>
        <p><i class="fas fa-envelope"></i> info@example.com</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a routerLink="aboutus" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Login</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-2" >
        <h5>Services</h5>
        <a routerLink="services">Health Insurances</a><br>
        <a routerLink="services">Life Insurances</a><br>
        <a routerLink="services">Car Insurances</a><br>
        <a routerLink="services">Two Wheeler Insurances</a><br>
        <a routerLink="services">Travel Insurances</a>
    </div>

    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Insurance Policy Management</p>
      </div>
    </div>
  </div>
</footer>
