<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <button class="btn btn-dark" type="button" (click)="goBack()">
      <i class="bi bi-reply-fill">&nbsp;Go Back</i>
    </button>
    <div class="container">
      <!-- Mobile Menu Toggle Button -->
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="menuDropdownButton" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-list"></i> Menu
        </button>
        <div class="dropdown-menu shadow" aria-labelledby="menuDropdownButton">
          <a class="dropdown-item " (click)="dashboard()">
            <i class="bi bi-speedometer2 text-secondary"></i>
            &nbsp;
            <span class="item-text">Dashboard</span>
          </a>
          <a class="dropdown-item " (click)="password()">
            <i class="bi bi-pencil-square text-success"></i> &nbsp;
            <span class="item-text">Change Password</span>
          </a>
          <a class="dropdown-item " (click)="profile()">
            <i class="bi bi-person text-primary"></i> &nbsp;
            <span class="item-text">Update Profile</span>
          </a>
          <a class="dropdown-item menu-item-white-smoke" (click)="policies()">
            <i class="bi bi-file-earmark-text text-warning"></i> &nbsp;
            <span class="item-text">Apply Policies</span>
          </a>
          <a class="dropdown-item menu-item-white-smoke" (click)="history()">
            <i class="bi bi-clock-history text-info"></i> &nbsp;
            <span class="item-text">Policy History</span>
          </a>
          <a class="dropdown-item menu-item-white-smoke" (click)="queries()">
            <i class="bi bi-chat-dots text-danger"></i> &nbsp;
            <span class="item-text">Ask Your Query</span>
          </a>
        </div>
      </div>
      <!--  -->
      <span class="text-light" (click)="dashboard()" style="cursor: pointer"><i class="bi bi-person"></i>
      
        <!-- User icon -->
        USER DASHBOARD</span>
      <div class="bg-dark offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel" style="width: 300px;">
        <div class="offcanvas-body">
          <ul class="list-unstyled">
            <!-- User Icon -->
            <li class="text-center mb-4">
              <a href="udashboard" class="text-dark text-decoration-none d-block">
                <img
                  src="https://icons.veryicon.com/png/o/business/multi-color-financial-and-business-icons/user-139.png"
                  alt="Rounded Image" class="rounded-image">
                <h5 class="mt-2" style="color: antiquewhite;">USER</h5>
              </a>
            </li>
            <!-- Rest of your menu items -->
          </ul>
        </div>
      </div>
      <div class="btn-group" style="margin-top: -0.7em;">
        <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="textnone"> Welcome {{ cname }}</span>
        </a>
        <ul class="bg-dark dropdown-menu dropdown-menu-end">
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item text-light font-weight-bold shadow" type="button" (click)="logout()">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
