<app-adminnavbar></app-adminnavbar>
<h1>First</h1>
<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <h2 class="text-ng dark mb-3 text-center">WAITING POLICY LIST <br><br></h2>
        <table class="table table-striped shadow  smaller-table" style="background-color: cornsilk;">
            <thead>
                <tr>
                    <th scope="col">Application ID</th>
                    <th scope="col">Policy Name</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Applied date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action Approve</th>
                    <th scope="col">Action Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a1 of allApplyData">
                    <th id="num" >{{a1.appid}}</th>
                    <td>{{a1.policyName}}</td>
                    <td>{{a1.customername}}</td>
                    <td>{{a1.policyapplydate}}</td>
                    <td>{{a1.status}}</td>
                    <td>
                        <button class="btn btn-success mx-2" (click)="doApprove();doSave(a1.appid)"> <i
                                class="bi bi-check-square"></i>&nbsp;APPROVE</button>
                    </td>
                    <td><button class="btn btn-danger" (click)="doReject();doSave(a1.appid)"><i
                                class="bi bi-x-square"></i>&nbsp;REJECT</button></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>