<app-adminnavbar></app-adminnavbar>

<div  class="container mt-5 " style="background-color: cornsilk;" >
    <br><br><br><br>
    <div class="row justify-content-center mb-20 mt-20">
        <h2   class="text-black mb-0 text-center">REGISTERED CUSTOMER LIST<br><br></h2>
        <table class="table  shadow smaller-table">
            <thead style="color: white; background-color: black;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c1 of allCustomerData" style="color: rgb(0, 0, 0); background-color:white">
                    <th  scope="row" style="color: white; background-color: black;">{{c1.cid}}</th>
                    <td style="color: black;">{{c1.cname}}</td>
                    <td style="color: black;">{{c1.cemail}}</td>
                    <td style="color: black;">{{c1.cgender}}</td>
                    <td style="color: black;">{{c1.cphno}}</td>
                    <td style="color: black;">{{c1.caddress}}</td>

                    <td><button class="btn btn-danger" (click)="deleteCustomer(c1.cid)"><i
                                class="bi bi-trash-fill">&nbsp;Delete</i></button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
