<app-navlogin></app-navlogin>

<br><br>
<br><br>

<div class="d-flex align-items-center justify-content-center mb-4">
  <!-- <i class="bi bi-journals" style="font-size: 48px; color: #008080"></i> -->
  <h2 class="ms-2" style="color: black">Policy History</h2>
</div>

<div class="container" style="background-color: whitesmoke; width: 70%;">
  <div class="row justify-content-center mb-5 mt-5">
    <table class="table table-hover shadow">
      <thead class="thead-light">
        <tr>
          <th scope="col">Application Id</th>
          <th scope="col">Policy Name</th>
          <th scope="col">Policy Category</th>
          <th scope="col">Policy Price</th>
          <th scope="col" style="padding-left: 30px;">Date</th> <!-- Adjust the padding here -->
          <th scope="col" style="padding-left: 20px;">Status</th> <!-- Adjust the padding here -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of y">
          <td>{{ s.appid }}</td>
          <td>{{ s.policyName }}</td>
          <td>{{ s.policyCatagory }}</td>
          <td>{{ s.policyPrice }}</td>
          <td>{{ s.policyapplydate }}</td>
          <td [ngClass]="getStatusColorClass(s.status)" style="font-size: large; font-weight: 600;">{{ s.status }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>