<app-navlogin></app-navlogin>
<br><br>

<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <div class="d-flex align-items-center justify-content-center mb-5">
            <i  style="font-size: 48px; color: #008080;"></i>
            <h2 class="ms-2 ">APPLY POLICY</h2>
        </div>

        <form (ngSubmit)="applyPolicie()">
            <h2 class="text-center mb-4" *ngIf="selectamount" style="color: #FF5733;">Please Set Amount</h2>
            <table class="table table-hover shadow" style="background-color: #f1dbee;">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Policy Name</th>
                        <th scope="col">Policy Category</th>
                        <th style="padding-left: 60px;" scope="col">Amount</th>
                        <th scope=""col></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="box" *ngFor="let plist of p">
                        <td scope="row">{{ plist.pid }}</td>
                        <td>{{ plist.policyname }}</td>
                        <td>{{ plist.policycatagory }}</td>
                        <td>
                            <div class="mb-3">
                                <label for="ins" class="mx-2">Choose Amount:</label>
                                <select name="ins" #policySelect id="ins" class="form-select">
                                    <option value="">Select an Amount</option>

                                    <option value="3 lac">300000</option>
                                    <option value="5 lac">500000</option>
                                    <option value="7 lac">700000</option>
                                    <option value="10 lac">1000000</option>
                                </select>
                            </div>
                        </td>
                        <td class="align-middle">
                            <button style="margin-left: 3em; background-color: #131415; color: white;"
                                class="btn btn-primary me-2 d-flex align-items-center justify-content-center"
                                *ngIf="!plist.applied"
                                (click)="ltt(plist.pid, plist.policyname, plist.policycatagory, policySelect.value)">
                                <i class="but"></i>&nbsp;Apply Here
                            </button>
                            <button style="margin-left: 3em; width: 40%;"
                                class="btn btn-success d-flex align-items-center justify-content-center"
                                *ngIf="plist.applied">
                                <i ></i>&nbsp;Applied
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<br>
<br>