<app-adminnavbar></app-adminnavbar>
<br>
<br>
<br>
<h1 style="color: black; text-align: center;">DELETE POLICY</h1>
<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <table class="table table-hover shadow" style="background-color: cornsilk;">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Policy Name</th>
                    <th scope="col">Policy Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let p of allPolicyData">
                    <th scope="row">{{p.pid}}</th>
                    <td>{{p.policyname}}</td>
                    <td>{{p.policycatagory}}</td>
                    <td>{{p.addDateOfPolicy}}</td>
                    <td><button class="btn btn-danger" (click)="deletePolicy(p.pid)"><i
                                class="bi bi-trash-fill">&nbsp;Delete</i></button></td>

                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>

</div>