
body {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
  }
  
  /* Style the container */
  .container {
    background-color:cornsilk; /* Background color for the container */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Style the heading */
  .container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Background color for the table */
  }
  
  /* Style the table header */
  table th {
    background-color: #010810; /* Header background color */
    color: #fff;
    text-align: left;
    padding: 10px;
  }
  
  /* Style the table rows */
  table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style the delete button */
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  /* Style the update button */
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  